/* header */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 21.5rem;
  width: 100%;
  margin-top: 3rem;
  background-color: #FFA84C;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.profile {
  margin-bottom: 0;
}

.name {
  margin: auto;
}


@media only screen and (min-width: 1024px) {
  .header {
    height: 20em;
    width: 25em;
    margin: 8em;
    margin-left: 2em;
    margin-right: 2em;
  }

}