/* navbar */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  padding: 1.5em;
  color: #FFF;
  background-color: #4056A1;
}

.logo {
  align-self: center;
}

.newtweet-group {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  height: 70px;
  font-family: 'Source Sans Pro', sans-serif;
}

.newtweet {
  font-size: medium;
  margin-bottom: 0;
}

.arrow {
  margin-top: 0;
  padding-left: 50px;
  transform: rotate(90deg);
  font-weight: bold;
  color: #FF0000;
}