/* navbar */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: 8rem;
  width: 100%;
  padding: 1.5em;
  color: #FFF;
  background-color: #4056A1;
}

.logo {
  align-self: center;
  font-size: 2rem;
}

.newtweet-group {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  height: 3.5em;
  margin-top: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.newtweet {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.arrow {
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 0em;
  font-size: 1.5rem;
  color: #FF0000;
}

@media only screen and (max-width: 1023px) {
  nav {
  background-color: #FFA84C;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  padding-bottom:  0;
  height: 4rem;
  }
}   