/* new-tweet */

.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border-style: dotted; */
}

h2 {
  align-self: flex-start;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #F4F1EC;
  font-weight: bold;
}

textarea {
  height: 36px;
  resize: none;
  border-style: none;
  border-bottom: solid;
  background: #F4F1EC;
  overflow-wrap: break-word;
}

textarea:focus {
  outline: 0;
}

.negative {
  color: #FF0000;
}

.form-bottom {
  display:flex;
  justify-content: space-between;
  padding-top: 10px;
  font-family: 'Bungee', cursive, sans-serif;
}

button {
  background-color: #4056A1;
  color: #FFFFFF;
}

.error {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 3em;
  padding-left: 3em;
  border: solid #F00;
  color: #F00;
}

